html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
a {
  color: #222;
}
.content {
  margin: 0 auto;
  padding-top: 1em;
  max-width: 800px;
  width: 94%;
}
.content h1 {
  margin-top: 0;
}
.sep {
  padding-right: 1em;
  padding-left: 1em;
}
.small {
  font-size: smaller;
  color: gray;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #eee;
  text-align: right;
  font-size: smaller;
}
