<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="content">
  <h1>Music Box</h1>
  <ol id="playlist" start="0">
    {% include 'playlist.html' %}
  </ol>
  <form name="play" action="play" method="post" onsubmit="return sendPlayNew();">
    <p>
    <input id="play_field" type="text" name="value" size="60">
    <input type="submit" name="submit" value="Play">
    </p>
  </form>
  <form name="volume" action="volume" method="post" onsubmit="return sendVolume();">
    <p>
    Volume: <strong id="volume">{{volume}}</strong> |
    <input id="volume_field" type="number" name="value" size="3" min="0" max="120" step="5" value="{{volume}}">
    <input type="submit" name="submit" value="Set">
    </p>
  </form>
  <form name="jump" action="jump" method="post" onsubmit="return sendJump();">
    <p>
    Jump to item
    <input id="jump_field" type="text" name="value" size="3">
    <input type="submit" name="submit" value="Jump">
    </p>
  </form>
</div>
<div class="footer">
  <a href="https://bitbucket.org/beli-sk/musicbox">Music Box</a>
  <span class="sep">|</span>
  Copyright &copy; <a href="https://beli.sk">Michal Belica</a>
  <span class="sep">|</span>
  <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU AGPL</a>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
