{% for item in playlist %}
    <li>
      {% if item.current %}<strong>{% endif %}
      {{item.title}}
      <span class="small">{{item.filename}}</span>
      {% if item.current %}</strong>{% endif %}
      <a href="javascript:sendRemove({{ loop.index0 }})">[x]</a>
    </li>
{% endfor %}
